.page{
    background: black;
}

.titulo{
    font-size: 24px;
    color: white;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.titulo2{
    font-size: 24px;
    color: white;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    border-bottom: 1px solid white;
    width: 670px;
}

div.ex{
    max-width: auto;
    margin: auto;
    border: 3px solid black;
}

.campos{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: left;
    font-weight: lighter;
    margin-bottom: 30px;
    margin: 10px;
}

.caixa_texto{
    border-radius: 7px;
    border: 1px solid white;
    border-right: 500px;
    padding: 15px 0px; 
    width: 350px;
    height: 5px;
}

.caixa_data{
    border-radius: 7px;
    border: 1px solid white;
    border-right: 500px;
    font-weight: lighter;
    padding: 2px;
}

.caixa_tel{
    border-radius: 7px;
    border: 1px solid white;
    border-right: 500px;
    padding: 3px; 
    width: 130px;
}

.linha{
    margin-top: -50px;
    border-bottom: 1px solid white;
}

.linha2{
    border-right: 1px solid white;
    margin-right: 690px ;
}

.botao1{
    float: right;
    margin-right: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: black;
    background-color: lime;
    border-color: #004d00; 
}

.botao2{
    float: right;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    background-color: yellow;
    border-color: #999900;
}

.botao3{
    float: right;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    background-color: red;
    border-color: #800000;
}

.botao1-1{
    float: right;
    margin-right: -650px; 
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: black;
    background-color: #33cc33;
    border-color: #004d00; 
}

.botao2-2{
    float: right;
    margin-right: -543px;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    background-color: #b3b300;
    border-color: #999900;
}

.botao3-3{
    float: right;
    margin-top: 50px;
    margin-right: -393px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
    background-color: red;
    border-color: #800000;
}

.esquerda{
    float: right;
    margin-top: -295px;
    margin-right: -630px;
}

.esquerda2{
    float: right;
    margin-top: -295px;
    margin-right: -570px;
}

.caixa_texto2{
    border-radius: 7px;
    margin-top: 7px;
    border: 1px solid white;
    border-right: 500px;
    padding: 10px 0px; 
    width: 350px;
    height: 90px;
}

.caixa_texto3{
    border-radius: 7px;
    border: 1px solid white;
    border-right: 500px;
    padding: 14px 0px; 
    width: 70px;
    height: 5px;
}

.img1{
    width: 300px;
    float: left;
    margin-left: 100px;
}

.img2{
    width: 38px;
    margin-right: 7px;
    border-radius: 10px;
}

.imglinks{
    width: 39px;
    float: right;
    margin-left: 470px;
}

.imglinks1{
    width: 41px;
    float: right;
    margin-left: 10px;
}

.imglinks2{
    width: 39px;
    float: right;
    margin-left: 10px;
}

.imglinks3{
    width: 39px;
    float: right;
    margin-left: 10px;
}

.per{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: gold;
    text-align: center;
}
 .per1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px; 
 }

 .caixa_preta{
    border: 1px solid #2E2E2E;
    padding: 80px;
    background-color: #2E2E2E;
 } 

 .imggold{
     width: 100px;
 }

 .copy{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 50px;
 }

.copy2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    text-align: center;
}

 .texto_contato{
    text-align: left;
    float: right;
    margin-right: 250px;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .impacta2{
    width: 300px;
    float: left;
    margin-left: 50px;
 }

 .siga{
     font-family: Georgia, 'Times New Roman', Times, serif;
     text-align: left;
     margin-left: 70px;
 }
 
 .alinhamento{
     float: left;
     margin-left: -280px;
     margin-top: -40px;
 }

 .aste{
     color: red;
 }

 .copy2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    text-align: center;
    margin-top: -50px;
 }