<!DOCTYPE html>
<html lang="pt-br">
  <head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!--LINK BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--LINK BOOTSTRAP-->
    <!--CSSPÁGINAINDEX1-->
    <link rel="stylesheet" type = "text/css" href="css/CssIndex1.css"/>
    <!--CSSPÁGINAINDEX1-->
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="shortcut icon" href="img/impacta.ico"/>
     

  


    <title>Impacta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/carrosel.css" rel="stylesheet"> 
  </head>
  <body>
      <style>
          body{
            background-color: black;
      
          }
        </style>  
      
<!--NAVBAR-->
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <img class="img2" src="img/logo.png"/>
        <a class="navbar-brand" href="#">FACULDADE IMPACTA</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="avbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               
             
            
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="index.html">Home </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="http://account.impacta.edu.br/">Site Oficial</a>
                    </li>
                  
                    <li class="nav-item dropdown">
                  </ul>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cadastros 
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                
                <a class="dropdown-item" href="cadastro_aluno.html">Aluno</a>
                <a class="dropdown-item" href="cadastro_professor.html">Professor</a>
                <a class="dropdown-item" href="cadastro_disciplina.html">Disciplina</a>
                
                
              </div >
            </li >            
          </div>
        </nav>
      </header>
      <!--CARROSEL-->
      <main role="main">
          
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="first-slide" src="img/imagem1.jpg" alt="First slide">
                <div class="container">
                  
                  <div class="carousel-caption text-left">
                    
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="second-slide" src="img/imagem2.jpg" class="img-fluid d-block" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                   
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <img class="third-slide" src="img/imagem4.jpg" alt="Third slide">
                <div class="container">
                  <div class="carousel-caption text-right">
                    
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      <!--CARROSEL-->
      <!--CONTAINERS-->
      <div class="container">
          <div class="row">
            <div class="col-sm-4">
                <center><img class="rounded-circle" src="img/logo.png" alt="Generic placeholder image" width="140" height="140"></center>
              <center><h3>Quem Somos ?</h3></center>
              <center><p>Fundada em 2003, a Faculdade Impacta é considerada uma das melhores instituições de tecnologia da América Latina devido ao seu intenso compromisso com a educação ao longo dos anos e à transformação da sociedade através da tecnologia.</p></center>
              <center><a href="https://www.impacta.edu.br/sobre">Ler Mais</a></center>
            </div>
            <div class="col-sm-4">
                <center><img class="rounded-circle" src="img/c.jpg" alt="Generic placeholder image" width="140" height="140"></center>
                <center><h3>Inscreva-se !!! </h3></center>
                <center><p>A graduação é um grande salto e o início de novas possibilidades profissionais para você.
                Seja com 18 ou mais de 50 anos, nosso objetivo é permitir a realização de sonhos reais. Afinal, não somos só um portal. Somos um aliado para quem busca novos horizontes.</p></center>
                <center><a href="https://www.impacta.edu.br/graduacao">Inscrever-se</a></center>
              </div>
              <div class="col-sm-4">
                  <center><img class="rounded-circle" src="img/f.jpg" alt="Generic placeholder image" width="140" height="140"></center>
                  <center><h3>Oportunidades</h3></center>
                  <center><p>Concorra a vagas de emprego e estágio nas áreas de Tecnologia, Gestão, Comunicação e Design de grandes empresas , conheça as tendências do mercado e faça networking com profissionais do ramo.</p></center>
                  <center><a href="https://www.impacta.edu.br/tecnicos">Ver Cursos</a></center>
              </div></div></div></main></br></br></br></br>
      <!--CONTAINERS-->
      <div class="caixa_preta" >
      <p class="per">Prêmios e Reconhecimentos</p>
      <p class="per1">A Faculdade Impacta é altamente reconhecida por sua atuação no mercado da educação, o que comprova o compromisso da Instituição com o ensino de qualidade e a dedicação do Grupo Impacta em transformar a sociedade através da tecnologia. Desta maneira, ao longo dos anos a Faculdade Impacta tem recebido prêmios e reconhecimentos que são resultados do trabalho contínuo de professores e funcionários e da determinação de seus alunos.</p>
      <center><img class="imggold" src="img/enade-ADS.png"/>
      <img class="imggold" src="img/enade-ADM.png"/>
      <img class="imggold" src="img/enade-RD.png"/>
      <img class="imggold" src="img/enade-SI.png"/></center>
      </div>
   

                <!--SCRIPST BOOTSTRAP-->
              <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script></br></br></br>
              <!--SCRIPST BOOTSTRAP-->
              <div class="rodape"></br>
                <p class="texto_contato">Atendimento:
                </br>
                </br>  
                Comercial:</br>
                Tel: (11)3254-8300
                </br>
                </br>
                Secretaria:</br>
                Tel: (11)5593-5344 - Barra Funda, Avenida Rudge, 315/SP</p>
                <img class="impacta2" src="img/logo-novo.png"/></br></br></br></br></br></br>
                <h4 class="siga">Siga-nos:</h4>
                  <div class="alinhamento">
                    <a href="https://www.youtube.com/"><img class="imglinks3" src="img/youtube.png" alt="YouTube"/></a>
                    <a href="https://twitter.com/login?lang=pt"><img class="imglinks2" src="img/twiter.png" alt="Twitter"/></a>
                    <a href="https://pt-br.facebook.com/login/"><img class="imglinks1" src="img/face.png" alt="Facebook"/></a>
                    <a href="https://www.instagram.com/accounts/login/?hl=pt-br"><img class="imglinks" src="img/Instagram.png" alt="Instagram"/></a>
                  </div><br/><br/><br/><br/>
                </div>
                <div class="linha">
                </div>
                <footer><p class="copy">Copyrigth &copy;2018 - Todos os Direitos Reservados</p></footer>
              
    
              
                
 
   </body>
</html>